main {
        margin: 1em auto;
        max-width: auto;
        min-width: 1440px;
      }
      #section1 {
        margin: 1em auto;
        max-width: auto;
        background-color: #76877d;
        min-width: 1440px;
      }
      #section2 {
        margin: 1em auto;
        max-width: auto;
        min-width: 1440px;
      }
      .flex {
        display: flex;
        gap: 1em;
      }
      .location {
        width: 50%;
      }
     
      body {
        margin: 0;
        background-color: #76877d;
        min-width: 1440px;
        font-family: "Inter", sans-serif;
      }
      h1 {
        text-align: center;
        font-weight: bold;
        font-size: 36pt;
        
      }
      h2 {
        text-align: center;
        font-weight: bold;
        font-size: 26pt;
      }
      h3 {
        text-align:  left;
        font-weight: bold;
        margin-top: 0em;
      }
      h4 {
        text-align: left;
        font-weight: normal;
        margin-top: 0em;
        padding: 0em;
        font-weight: bold;
        font-style: italic
      }
      img{
        box-shadow: -5px 6px 6px rgba(0, 0, 0, 0.4);
       
        margin: .2em 0;
      }
      #hero {
        position: relative;
        height: 400px;
        background-image: url("/projects/project-1/project-1-images/hero.webp");
        background-size: cover;
        background-position: center;
        opacity: 0.75;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .hero-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: auto;
        background: #76877d;
        padding: 1.5rem 1.75rem;
        opacity: 1;
        border-radius: 10px;
        box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.40);
        text-align: center;
        border-color: #5b3000;
        border-style: solid;
        border-width: 2px;
      }   

      .hero-box h1 {
        margin: 0 0 0.5rem;
        font-size: 2rem;
        text-align: center;
        color: black;
        place-items: center;
        opacity: 1;
      }
      .hero-place {
      position: absolute;
      left: -315px;
      bottom: -155px;
      transform: translateX(-50%);
      background: rgba(91, 48, 0, 1);
      color: white;
      padding: 0.75rem 1.25rem;
      border-radius: 50px;
      text-align: left;
      font-size: 1rem;
      
}

      footer {
        background-color: #5b3000;
        text-align: left;
        font-family: Times, serif;
        color: white;
        text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
      }
      .footer-inner {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: white;
          padding: 1rem 2rem;
        }

        .footer-left {
          text-align: left;
        }

      .footer-right {
        text-align: center;
          flex: 1;
      }
      .footer-socials {
        text-align: right;
        padding: 0.75rem 0 1rem;
      }
      .footer-socials a {
        color: white;
        text-decoration: none;
        margin: 0 0.5rem;
        gap: 0.5rem;
      }
      .social-icon {
      box-shadow: none;
      gap: 0.5rem;

      }

      #primary-nav {
        background-color: #5b3000;
        list-style: none;
      }
      .inner {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1em;
        background: rgba(255, 255, 255, 0.25);
      }
      #primary-nav ul {
        margin: 0;
        padding: 0;
      }
      #primary-nav ul li:nth-child(3) {
        margin-left: 825px;
      }
      #primary-nav a {
        display: block;
        padding: 1em;
      }
      #primary-nav li {
        display: inline-block;
        justify-content: space-between;
      }

      #top-picks {
        background-color: #82a6b1;
        min-width: 1440px;
      }
      p{
        margin: 0px;
        font-size: 12.5px;
      }
      .nav-title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-weight: normal;
        font-size: 40px;
        background: #76877d; border-radius: 50px;
        padding: 0.40rem .5rem;
        white-space: nowrap;
      }
      
      

      @media (max-width: 767px) {
        #primary-nav li {
          display: block;
          .inner {
            overflow: hidden;
          }
          #toggle-nav-btn {
            display: block;
          }
          body.nav-open #primary-nav {
            grid-template-rows: 1fr;
          }
          .inner {
            overflow: hidden;
          }
          #toggle-nav-btn {
            display: block;
          }
        }
      }
      #toggle-nav-btn {
        display: none;
        position: fixed;
        right: 1em;
        top: 1em;
      }
      .inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
 .inter-bold{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}


