body {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(247, 231, 255);
  }
 

h1 {
    text-align: center;
    font-family: verdana, sans-serif;
}

h2 {
    text-align: center;
    font-style: italic;
    color: rgb(127, 0, 131);
    font-size: 28px;
}

#primary-nav ul {
 padding-left: 0;
 display: flex;
 }

#primary-nav a { 
  background-color: rgb(255, 221, 69);
  display: block; 
  padding: 1em;
  text-decoration: none;
} 

#primary-nav li { 
  list-style: none; 
  display: inline-block;
}

#toggle-nav-btn {
    display: none;
    position: absolute;
    right: 1em;
    top: 1em;
  }


@media (max-width: 767px) { 
  #primary-nav li { 
  display:block; 
  .inner {overflow: hidden;}
    #toggle-nav-btn {
        display: block;
    }
    body.nav-open #primary-nav {
      grid-template-rows: 1fr;
    }
    .inner {
      overflow: hidden;
    }
    #toggle-nav-btn {
      display: block; 
    }
    main { 
        background-color: rgb(0, 102, 255);
    }       
}

 #primary-nav ul {
    flex-direction: column;
  }
.grid {
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
  }
}

  a:hover {
    color: rgb(212, 213, 214);
  }
  a:active {
    color: rgb(219, 237, 255);
  }
  .grid{
    display: flex;
    gap: 25px;
  }

  .grid img {
    width: 500px;
    max-width: 100%;
    height: auto;
  }